body {
    background: grey;
}

* {
    margin: 0;
    padding: 0;
}

#canvas1 {
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}

img {
    display: none;
}

button {
    padding: 10px;
    font-size: 40px;
    margin: 20xp;
    font-family: 'Bangers', cursive;
    color: grey;
    background-color: rgb(33, 33, 33);
    transform: 0.2s;
}

button:hover {
    color: rgb(33, 33, 33);
    background-color: grey;
}
